

body{
    background-color: rgb(25, 0, 59);
    padding: 200px;
 
}

.parent{
    background-color: aqua;
    width: 100%;
    height: 300px;
    display: flex;
    gap:5px;
    flex-wrap: wrap;
    justify-content:space-evenly;
}
.child{
    background-color: black;
    width:160px;
    height:160px;
}
